<div class="column-footer">

  <div class="add-dialog" *ngIf="addDialog">
    <form [formGroup]="form" (ngSubmit)="submit()">
       <textarea
         #txt
         rows="3"
         placeholder="Enter title of the card"
         formControlName="title"
         (blur)="handleBlur($event)"
       ></textarea>
      <div class="buttons">
        <button #btn class="add" type="submit" [disabled]="form.invalid">Add card</button>
        <button class="close" type="button" (click)="hideAddDialog()">&times;</button>
      </div>
    </form>
  </div>

  <div class="add-button" (click)="showAddDialog()" *ngIf="!addDialog">
    <span class="icon-add">+</span>
    <span class="add-card">Add new card</span>
  </div>

</div>
