// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$trello-ng-mat-primary: mat-palette($mat-indigo);
$trello-ng-mat-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$trello-ng-mat-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$trello-ng-mat-theme: mat-light-theme($trello-ng-mat-primary, $trello-ng-mat-accent, $trello-ng-mat-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($trello-ng-mat-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box
}

h1, h2, h3, h4, h5, h6, p, div, span, a, img {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.trello-btn {
  display: inline-block;
  border: 0;
  border-radius: 3px;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  color: #ffffff;
  padding: 0 12px;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.45);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.25);
  }
}

.my-panel-success {
  mat-dialog-container {
    background: linear-gradient(180deg, #42548e 0%, #6b668c 100%);
    max-width: 500px;
  }
}

.my-panel-failure {

  mat-dialog-container {
    border: 1px solid red;
    max-width: 500px;
  }

  .mat-dialog-actions {
    justify-content: center;
  }
}

