.board-wrapper {
  background-color: #2379bf;
  font-family: 'Ubuntu', sans-serif;
  min-height: calc(100vh - 40px);

  .board-header {
    display: flex;
    justify-content: space-between;
    padding: 8px;

    .menu {
      display: flex;
      align-items: center;
    }

    .delete, .share-button {
      border: 0;
      border-radius: 3px;
      outline: none;
      font-size: 16px;
      font-weight: 300;
      line-height: 35px;
      color: #ffffff;
      padding: 0 12px;
      cursor: pointer;
      background-color: transparent;

      &:hover {
        background-color: rgba(255, 255, 255, 0.25);
      }

      &:active {
        background-color: rgba(255, 255, 255, 0.35);
      }
    }
  }

  .divider {
    display: inline-block;
    width: 1px;
    height: 50%;
    margin: 0 10px;
    background-color: rgba(255, 255, 255, .3);
  }
}

.tasks {
  margin-top: 5px;

  .column-wrapper {
    font-family: 'Ubuntu', sans-serif;
    color: #172b4d;
    width: 272px;
    margin: 0 4px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;

    &:first-child {
      margin-left: 8px;
    }

    .column {
      background-color: #ebecf0;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      max-height: 100%;
      position: relative;
      white-space: normal;

      &-title {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        padding: 11px 8px;
        min-height: 20px;
      }

      &-cards {
        flex: 1 1 auto;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 0 4px;
        padding: 0 4px;
        z-index: 1;
        min-height: 30px;

      }
    }
  }

  .sort-btn {
    outline: none;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
    background-color: transparent;
    transition: all .1s linear;

    &:hover {
      border-color: #0079bf;
    }

    &:active {
      background-color: #0079bf;
    }
  }
}

