<div class="board-wrapper">
  <div class="board-header">
    <div class="menu">
      <app-board-title
        (titleChange)="changeBoard($event)"
        [title]="board?.title"
      ></app-board-title>
      <div class="divider"></div>
      <button class="share-button">Share</button>
    </div>

    <button class="delete" (click)="openDialog()">
      Delete board
    </button>
  </div>

  <div class="tasks">
    <div cdkDropListGroup>

      <div class="column-wrapper">
        <div class="column">
          <div class="column-title">
            To Do
          </div>

          <div
            class="column-cards"
            cdkDropList
            [cdkDropListData]="tasksTodo"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="card" *ngFor="let task of tasksTodo" cdkDrag>
              <div class="details">
                {{ task.title }}
              </div>
            </div>
          </div>

          <app-column-footer
            [status]="'TODO'"
            (setTaskProps)="createNewTask($event)"
          ></app-column-footer>

        </div>
      </div>

      <div class="column-wrapper">
        <div class="column">
          <div class="column-title">
            In Progress
          </div>

          <div
            class="column-cards"
            cdkDropList
            [cdkDropListData]="tasksProgress"
            (cdkDropListDropped)="drop($event)">
            <div class="card" *ngFor="let task of tasksProgress" cdkDrag>
              <div class="details">
                {{ task.title }}
              </div>
            </div>
          </div>

          <app-column-footer
            [status]="'PROGRESS'"
            (setTaskProps)="createNewTask($event)"
          ></app-column-footer>
        </div>
      </div>

      <div class="column-wrapper">
        <div class="column">
          <div class="column-title">
            Done
          </div>

          <div
            class="column-cards"
            cdkDropList
            [cdkDropListData]="tasksDone"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="card" *ngFor="let task of tasksDone" cdkDrag>
              <div class="details">
                {{ task.title }}
              </div>
            </div>
          </div>

          <app-column-footer
            [status]="'DONE'"
            (setTaskProps)="createNewTask($event)"
          ></app-column-footer>
        </div>
      </div>

    </div>

  </div>

</div>
