<div class="board-wrapper">
  <div class="board-header">
    <div class="menu">
      <app-board-title
        (titleChange)="changeBoard($event)"
        [title]="board?.title"
      ></app-board-title>
      <div class="divider"></div>
      <button class="share-button">Share</button>
    </div>

    <button class="delete" (click)="openDialog()">
      Delete board
    </button>
  </div>

  <!--  <div cdkDropList (cdkDropListDropped)="drop($event)">-->
  <!--    <div class="pop" *ngFor="let artist of artists" cdkDrag>{{artist}}</div>-->
  <!--  </div>-->
  <!--  <pre>{{ artists | json }}</pre>-->

  <div class="tasks">

    <div class="column-wrapper">
      <div class="column">
        <div class="column-title">
          To Do
        </div>

        <div class="column-cards">
          <div class="card" *ngFor="let task of tasks">
            <div class="details">
              <span>{{ task.title }}</span>
            </div>
          </div>
        </div>

        <app-column-footer
          [status]="'TODO'"
          (title)="createNewTask($event)"
        ></app-column-footer>

      </div>
    </div>

    <div class="column-wrapper">
      <div class="column">
        <div class="column-title">
          In Progress
        </div>
<!--        <app-column-footer></app-column-footer>-->
      </div>

    </div>

    <div class="column-wrapper">
      <div class="column">
        <div class="column-title">
          Done
        </div>
<!--        <app-column-footer></app-column-footer>-->
      </div>
    </div>


  </div>
</div>
